torch==1.7.0
torchvision==0.8.1
mlflow==1.12.1
pytest==6.0.2
pylint==2.6.0
wget==3.2
rouge-score

sentencepiece==0.1.94
sacrebleu==1.4.14
rouge-score==0.0.4
flask==1.1.2
transformers==4.1.1
pyyaml==5.3.1
